@import url(./assets/font/flaticon.css);
.colorPurple {
  color: #322840 !important; }

.bgPurple {
  background-color: #322840 !important; }

.colorPurpleLight {
  color: #64507F !important; }

.bgPurpleLight {
  background-color: #64507F !important; }

.colorGray {
  color: #3D3A40; }

.bgGray {
  background: #3D3A40 !important; }

.colorGreen {
  color: #3AFF24; }

.bgGreen {
  background: #3AFF24 !important; }

.colorGrayLight {
  color: #FFF5FF; }

.bgGrayLight {
  background-color: #FFF5FF; }

.colorWhite {
  color: #FFFFFF !important; }

.bgWhite {
  background-color: #FFFFFF !important; }

.colorMoss {
  color: #E5970C !important; }

.bgMoss {
  background-color: #E5970C !important; }

.colorMossLight {
  color: moccasin !important; }

.bgMossLight {
  background-color: moccasin !important; }

.thing {
  font-weight: 100; }

.light {
  font-weight: 300; }

.regular {
  font-weight: 400; }

.medium {
  font-weight: 500; }

.bold {
  font-weight: 700; }

.exBold {
  font-weight: 900; }

.underline {
  text-decoration: underline; }

.secondFont {
  font-family: 'Signika Negative', sans-serif; }

.title {
  font-size: 16px;
  margin: 18px 0; }

.opacityMedium {
  opacity: .3; }

.absolute {
  position: absolute; }

.relative {
  position: relative; }

.fixed {
  position: fixed; }

.block {
  display: block; }

.iniline-block {
  display: inline-block; }

body {
  font-family: 'Lato', sans-serif; }
  body .language {
    height: 30px;
    font-size: 14px;
    color: #322840;
    text-align: right; }
    body .language ul {
      padding: 3px 27px; }
    body .language li {
      display: inline; }
      body .language li i {
        vertical-align: text-top;
        font-size: 20px; }
      body .language li a {
        vertical-align: bottom; }
  body nav {
    min-height: 180px; }
    @media (min-width: 768px) {
      body nav {
        min-height: 240px; } }
    @media (min-width: 992px) {
      body nav {
        min-height: 300px; } }
    body nav .brand-logo {
      font-size: 18px;
      margin-left: 20px; }
    body nav h1 {
      margin-bottom: 0;
      font-size: 2.2em; }
      @media (min-width: 768px) {
        body nav h1 {
          font-size: 2.8em; } }
      @media (min-width: 992px) {
        body nav h1 {
          font-size: 3.6em; } }
      @media (min-width: 1440px) {
        body nav h1 {
          font-size: 4.1em; } }
    body nav p {
      margin: 0;
      padding: 0;
      line-height: 43px; }

footer .container a {
  padding: 4px 10px;
  display: inline-block;
  transition: all .2s; }
  footer .container a:hover {
    background-color: rgba(0, 0, 0, 0.2); }

.grid-item--width2 {
  width: 50%; }
  @media (min-width: 620px) {
    .grid-item--width2 {
      width: 50%; } }
  @media (min-width: 992px) {
    .grid-item--width2 {
      width: 33%; } }
  @media (min-width: 1440px) {
    .grid-item--width2 {
      width: 25%; } }

.tab ul {
  margin: 54px 0; }
  .tab ul li {
    display: inline;
    padding-right: 3%; }
    .tab ul li a.active {
      position: relative; }
      .tab ul li a.active:before {
        content: "";
        height: 4px;
        background-color: #322840;
        position: absolute;
        top: 22px;
        width: 100%; }
.tab p {
  max-width: 843px;
  margin: 0; }
.tab .gallery {
  padding: 46px 0; }
  .tab .gallery .card {
    margin: .4em; }
    @media (min-width: 992px) {
      .tab .gallery .card {
        margin: .8em; } }
    .tab .gallery .card > a {
      right: 9px;
      top: 18px; }
      @media (min-width: 992px) {
        .tab .gallery .card > a {
          top: initial;
          bottom: 41px; } }
    .tab .gallery .card .card-action {
      padding: 9px; }
      .tab .gallery .card .card-action a {
        font-size: 12px; }
      @media (min-width: 992px) {
        .tab .gallery .card .card-action {
          padding: 18px 24px; }
          .tab .gallery .card .card-action a {
            font-size: 14px; } }

.bottom-sheet {
  min-height: 100%;
  background-color: transparent; }
  .bottom-sheet a {
    top: 18px;
    right: 18px; }
  .bottom-sheet .modal-header {
    width: 100%;
    padding: 18px 36px; }
    @media (min-width: 1200px) {
      .bottom-sheet .modal-header {
        width: 70%;
        margin: 0 auto; } }
  .bottom-sheet .modal-content {
    width: 100%;
    background: white; }
    @media (min-width: 1200px) {
      .bottom-sheet .modal-content {
        width: 70%;
        margin: 0 auto; } }
    .bottom-sheet .modal-content .eyecatcher {
      height: 320px;
      overflow: hidden; }
      .bottom-sheet .modal-content .eyecatcher #animate1 {
        right: 0;
        left: 0;
        margin: 0 auto;
        top: 100px;
        height: auto;
        z-index: 5; }
        .bottom-sheet .modal-content .eyecatcher #animate1:before {
          font-size: 16em; }
      .bottom-sheet .modal-content .eyecatcher figure {
        width: 15.3em;
        right: 0;
        left: 0;
        margin: 0 auto;
        z-index: 4;
        top: 192px;
        z-index: 4;
        border-radius: 5px;
        height: 124px;
        overflow: hidden; }
        .bottom-sheet .modal-content .eyecatcher figure img {
          width: 100%; }
    .bottom-sheet .modal-content .main, .bottom-sheet .modal-content .mainor {
      height: 75vh; }

#modal1 {
  overflow: auto; }

/*# sourceMappingURL=style.css.map */
