.tab{
	ul{
		margin: 54px 0 ;
		li{
			display: inline;
			padding-right: 3%;
			a.active{
				position: relative;
				&:before{
					    content: "";
					    height: 4px;
					    background-color: #322840;
					    position: absolute;
					    top: 22px;
					    width: 100%;
				}
			}
		}
	}
	p{
		max-width: 843px;
		margin: 0;
	}
	.gallery{
		padding: 46px 0;

		.card{
			margin: .4em;
			@media(min-width:992px){
			margin: .8em;
			}
			> a{
				right: 9px;
				top: 18px;
				@media(min-width:992px){
					top: initial;
					bottom: 41px;
				}
			}
			.card-action{
				padding: 9px;
				a{
					font-size: 12px;
				}

				@media(min-width:992px){
					padding: 18px 24px;
					a{
						font-size: 14px;
					}
				}
			}
		}
	}
}

.bottom-sheet{
	min-height: 100%;
	background-color: transparent;
		a{
			top: 18px;
			right: 18px;
		}
	.modal-header{
		padding: 18px 36px;
	}
	.modal-content{
		background: white;	
        .eyecatcher{
        	height: 320px;
        	overflow: hidden;
        	i{
        		@include centerAbsolute;
        		top: 100PX;
        		z-index: 5;
        		&:before{
        			font-size: 16em;
        		// font-size: 70em;
        		}
        	}
        	figure{
        		    // width: 66em;
        		    width: 15.3em;
				    right: 0;
				    left: 0;
				    margin: 0 auto;
				    z-index: 4;
				    top: 192px;
				    z-index: 4;
				    border-radius: 5px;
				    height: 124px;
				    overflow: hidden;
	        	img{
					width: 100%;
	        	}
        	}
        }
        .main, .mainor{
        	height: 75vh;
        }
	}
}
