.tab{
	ul{
		margin: 54px 0 ;
		li{
			display: inline;
			padding-right: 3%;
			a.active{
				position: relative;
				&:before{
					    content: "";
					    height: 4px;
					    background-color: #322840;
					    position: absolute;
					    top: 22px;
					    width: 100%;
				}
			}
		}
	}
	p{
		max-width: 843px;
		margin: 0;
	}
	.gallery{
		padding: 46px 0;

		.card{
			margin: 1.2rem;
		}
	}
}

