// ∆∆ Font
.thing{
	font-weight: 100;
}
.light{
	font-weight: 300;
}
.regular{
	font-weight: 400;
}
.medium{
	font-weight: 500;
}
.bold{
	font-weight: 700;
}
.exBold{
	font-weight: 900;
}

.underline{
	text-decoration: underline;
}

.secondFont{
	font-family: 'Signika Negative', sans-serif;
}


.title{
	font-size: 16px;
	margin: 18px 0;
}


// ∆∆ color
.opacityMedium{
	opacity: .3;
}

.position{
	position: absolute;
}
.iniline-block{
	display: inline-block;
}