
//∆∆∆∆∆∆∆∆   S     ∆∆∆∆∆∆∆∆∆∆

@mixin boxShadow{
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);  
	-moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);  
	-o-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);  
	-ms-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);  
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);   
}



  // animation($args)
  // animation-delay($delay)
  // animation-direction($direction)
  // animation-duration($duration)
  // animation-fill-mode($mode)
  // animation-iteration-count($count)
  // animation-name($name)
  // animation-play-state($state)
  // animation-timing-function($function)
  // background-size($args)
  // box-sizing($args)
  //     border-box()
  //     content-box()
  // columns($args)
  //     column-count($count)
  //     column-gap($gap)
  //     column-rule($args)
  //     column-width($width)
  // gradient($default,$start,$stop)
  //     linear-gradient-top($default,$color1,$stop1,$color2,$stop2,[$color3,$stop3,$color4,$stop4])
  //     linear-gradient-left($default,$color1,$stop1,$color2,$stop2,[$color3,$stop3,$color4,$stop4])
  // transform($args)
  //     transform-origin($args)
  //     transform-style($style)
  //     rotate($deg)
  //     scale($factor)
  //     translate($x,$y)
  //     translate3d($x,$y,$z)
  //     translateHardware($x,$y)
  // text-shadow($args)
  // transition($args)
  //     transition-delay($delay)
  //     transition-duration($duration)
  //     transition-property($property)
  //     transition-timing-function($function)


