    /*
    Flaticon icon font: Flaticon
    Creation date: 01/03/2017 19:50
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-computer-2:before { content: "\f100"; }
.flaticon-002-apple:before { content: "\f101"; }
.flaticon-003-wordpress:before { content: "\f102"; }
.flaticon-004-tablet:before { content: "\f103"; }
.flaticon-005-java-script-logo:before { content: "\f104"; }
.flaticon-006-github-logo:before { content: "\f105"; }
.flaticon-007-php-programmation-file-black-interface-symbol:before { content: "\f106"; }
.flaticon-008-responsive-design-symbol:before { content: "\f107"; }
.flaticon-009-computer-1:before { content: "\f108"; }
.flaticon-010-computer:before { content: "\f109"; }
.flaticon-011-html5:before { content: "\f10a"; }
.flaticon-012-css-3:before { content: "\f10b"; }
.flaticon-013-instagram-1:before { content: "\f10c"; }
.flaticon-014-technology-1:before { content: "\f10d"; }
.flaticon-015-technology:before { content: "\f10e"; }
.flaticon-016-linkedin:before { content: "\f10f"; }
.flaticon-017-instagram:before { content: "\f110"; }
.flaticon-018-behance:before { content: "\f111"; }
.flaticon-019-cell-phone:before { content: "\f112"; }
.flaticon-020-interface:before { content: "\f113"; }
    
    $font-Flaticon-001-computer-2: "\f100";
    $font-Flaticon-002-apple: "\f101";
    $font-Flaticon-003-wordpress: "\f102";
    $font-Flaticon-004-tablet: "\f103";
    $font-Flaticon-005-java-script-logo: "\f104";
    $font-Flaticon-006-github-logo: "\f105";
    $font-Flaticon-007-php-programmation-file-black-interface-symbol: "\f106";
    $font-Flaticon-008-responsive-design-symbol: "\f107";
    $font-Flaticon-009-computer-1: "\f108";
    $font-Flaticon-010-computer: "\f109";
    $font-Flaticon-011-html5: "\f10a";
    $font-Flaticon-012-css-3: "\f10b";
    $font-Flaticon-013-instagram-1: "\f10c";
    $font-Flaticon-014-technology-1: "\f10d";
    $font-Flaticon-015-technology: "\f10e";
    $font-Flaticon-016-linkedin: "\f10f";
    $font-Flaticon-017-instagram: "\f110";
    $font-Flaticon-018-behance: "\f111";
    $font-Flaticon-019-cell-phone: "\f112";
    $font-Flaticon-020-interface: "\f113";